.myForm{
    padding: 10px;
    padding-left: 20px;
}
.Mycard{
    border: none;
}
.Mytext{
    text-align: right;
}
.Myh1{
    color: rgb(92, 154, 0);
}
.Mycontainer{
    background-color:  rgba(134, 180, 114, 0.25);;
}